* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  padding: 20px;
}

.demo__button {
  color: white;
  padding: 10px;
  margin: 0 10px;
  border-radius: 3px;

  &--success {
    background: green;
  }

  &--fail {
    background: red;
  }
}

.toast {
  width: 400px;
  margin: auto;
  right: 0;
  left: 0;
  border-radius: 5px;
  box-shadow: 0 1px 5px darkgrey;

  &--success {
    .toast__header {
      background: green;
    }
  }

  &--fail {
    .toast__header {
      background: red;
    }
  }

  .toast__header {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding: 10px 15px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .toast__close {
      background: transparent;
      color: white;
      font-size: 18px;
      cursor: pointer;
      outline: none;
    }
  }

  .toast__body {
    padding: 15px;
    font-size: 14px;
  }
}

